@import 'variables';


.aboutp{
 width: 85vw;
 margin: 0  auto;
 min-height: 100vh;
 position: relative;
}


.aboutp::after{
  content: "";
  background: url('../public/pictures/vmlogo.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  position: absolute;
  top:30%;
  left: -40%;
  height: 200rem;
  width: 200rem;
  z-index: -1;
  opacity: 0.2;
}