@import 'variables';

.links {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  &__container {
    background-color: $main-color;
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #2b2a2a;
    }
  }

  &__text {
    text-transform: capitalize;
    font-size: 1.6rem;
    color: $white-color;
  }

  &__icon {
    svg {
      margin-left: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
