@import 'variables';

.grid-container {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 3rem;
}

.post_thumb {
  display: flex;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  border-bottom: 1rem solid $main-color;
}

.entry_header h3 a {
  color: $white-color;
  font-size: 2.5rem;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}

.post_content {
  background-color: #252525;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.img_fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.3s cubic-bezier(0.76, 0.74, 0.72, 0.8);
}

.link_container {
  display: inline-block;
  height: 16rem;
  cursor: pointer;

  &:hover .img_fluid {
    transform: scale(1.2);
    border-radius: 1rem 1rem 0 0;
  }
}

.new_item {
  text-transform: uppercase;
  background-color: $main-color;
  padding: 1rem 2rem;
  color: $white-color;
  font-weight: 700;
  border-radius: 5rem;
  transition: all 0.3s cubic-bezier(0.76, 0.74, 0.72, 0.8);

  &:hover {
    color: $white-color;
    border-radius: 0;
  }
}
