$black-color: #111;
$grey-color:#2b2a2a;
$main-color: #4169e1;
$open-sans:  'Open Sans', sans-serif;
$white-color:rgb(248, 248, 248);

$bp-lg:75em;
$bp-md:62.5em;//1000
$bp-small:47em;
$bp-xs:35.5em;//570

.grey-bg {
  background-color: $grey-color;
}
